<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="H:/QA_Testing/Java_QATesting_Pratice/src/test/java/APITesting">
        <classes>
            <class name="APITesting.RA_Day8"/>
            <class name="APITesting.GetUser"/>
            <class name="APITesting.Day8_UpdateUser"/>
            <class name="APITesting.Day8_DeleteUser"/>

        </classes>
    </test>
</suite>

